# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/public/build
/bootstrap/ssr
/public/hot
/node_modules
/.pnp
.pnp.js
# testing
/coverage

# production
/build
/dist
# misc
.env


npm-debug.log*
yarn-debug.log*
yarn-error.log*
